.group-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
    background: var(--bg-container-color);
    width: 100%;
}

.header-gp{
 display: none;
}

.gp-desltop-header{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  top: 0;
  padding: 10px;
  z-index: 999;
  color: var(--text-color);
  background-color: var(--bg-content-color);
}

@media (width < 700px) {
  .header-gp{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    z-index: 9999;
    background: var(--bg-header-color);
    width: 100%;
    padding: 5px;
    top: 0;
    color: var(--text-color);
  }

  .gp-desltop-header{
    display: none;
  }

  .group-page{
    padding-top: 50px;
  }
}

.back-button-gp{
    position: absolute;
    left: 400px;
    font-size: 23px;
}

.group-users h2{
    color: #98a5b3;
    margin: 30px;
}

.user-block {
  display: flex;
  align-items: center;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin-bottom: 16px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.user-block:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.user-photo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 16px;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.user-info .username {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin: 0;
}

.user-info .fio {
  font-size: 16px;
  color: #555;
  margin: 4px 0;
}

.user-info .meta {
  font-size: 14px;
  color: #777;
}

  







  .group-schedule {
    width: 100%;
    margin: 20px 0;
    padding-left: 50px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .group-schedule-flex{
    display: flex;
    align-items: end;
    flex-wrap: wrap;
    gap: 20px;
  }

  .group-schedule h2{
    color: #969393;
  }
  
  .day-schedule-display {
    margin-bottom: 20px;
  }
  
  .schedule-table {
    width: 50%;
    border-collapse: collapse;
  }
  
  .schedule-table th,
  .schedule-table td {
    border: 1px solid #999;
    padding: 8px;
    text-align: center;
  }
  
  .schedule-table th {
    background-color: #3477b7;
    color: #fff;
  }  